* {
    padding: 0%;
    margin: 0%;
   
}

.about {
    background-image: url(./img/header-illsutration-mobile@2x.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    gap: 1rem;

}

.about h1{
  color: #172B4D;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 span{
    color: #36B37E;
    text-align: center;
}

.about  p{
    color: #172B4D;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.about ul {
    display:flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}

.projects {
    display: flex;
   align-items: center;
   flex-direction: column;
}

.projects ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
}

.projects .button {
   
    width: 129px;
    height: 24px;
}

.projects .cardDetails h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    width: 295px;
    height: 57px;
    display: flex;
    text-align: center;
}

.projects h3{
    width: 327px;
    height: 97px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}

.cardDetails{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 8%;
    border: 1px;
    align-items: center;

}

.cardDetails img{
    width: 327px;
    height: 474px;
    
}

.language {
    padding: 12px 8px;
    background-color: #EBF0EE;
    color:#3A4A42;
}